### Import the necessarry libraries and methods. ###

In [ ]:
import pandas as pd
import numpy as np
import re
import string

## methods and stopword processing
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split

##import machine learning libraries
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

import warnings
warnings.filterwarnings("ignore")

In [16]:
df = pd.read_csv(r"C:\Users\ADMIN\Downloads\twitter\training.1600000.processed.noemoticon.csv", encoding ="ISO-8859-1")
print(df.head())

   0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY _TheSpecialOne_  \
0  0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY   scotthamilton
1  0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY        mattycus
2  0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY         ElleCTF
3  0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY          Karoli
4  0  1467811372  Mon Apr 06 22:20:00 PDT 2009  NO_QUERY        joy_wolf

  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  is upset that he can't update his Facebook by ...
1  @Kenichan I dived many times for the ball. Man...
2    my whole body feels itchy and like its on fire
3  @nationwideclass no, it's not behaving at all....
4                      @Kwesidei not the whole crew

## checking if the data that has null values.

In [17]:
df.isnull().sum()

0                                                                                                                      0
1467810369                                                                                                             0
Mon Apr 06 22:19:45 PDT 2009                                                                                           0
NO_QUERY                                                                                                               0
_TheSpecialOne_                                                                                                        0
@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D    0
dtype: int64

## dropping the null values from the data

In [24]:
column_headers = df.columns.values.tolist()
print("The Column Header :", column_headers)

The Column Header : ['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY', '_TheSpecialOne_', "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"]

In [18]:
df = df.dropna()

In [20]:
df.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column                                                                                                               Non-Null Count    Dtype
---  ------                                                                                                               --------------    -----
 0   0                                                                                                                    1599999 non-null  int64
 1   1467810369                                                                                                           1599999 non-null  int64
 2   Mon Apr 06 22:19:45 PDT 2009                                                                                         1599999 non-null  object
 3   NO_QUERY                                                                                                             1599999 non-null  object
 4   _TheSpecialOne_                                                                                                      1599999 non-null  object
 5   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

# Preprocessing the Tweet Text
### 1. Casing
### 2. Noise Removal
### 3. Tokenization
### 4. Stopword Removal
### 5. Text Normalization

In [40]:
def pre_process_tweet_text(tweet):
    
    #convert all tweets to lowercase
    tweet = tweet.lower()
    
    #remove any urls in the tweets
    tweet = re.sub(r"http\S+ | www\S+ | https\S+", " ", tweet, flags=re.MULTILINE)
                   
    #remove punctuations
    tweet = tweet.translate(str.maketrans(" ", " ", string.punctuation))
                   
    #remove user @ and tweet #
    tweet = re.sub(r'\a\w+ | #', " ", tweet)
                   
pre_process_tweet_text("Hi @ormandydennis what your thought on #Maandamano")